{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "restParams": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "defaultParams": true
  },
  "rules": {
    "comma-dangle": [ 2, "always-multiline" ],
    "curly": 2,
    "dot-notation": 1,
    "dot-location": [ 1, "property" ],
    "no-else-return": 1,
    "no-extend-native": 2,
    "no-loop-func": 2,
    "radix": 2,
    "no-use-before-define": 2,
    "no-sync": 1,
    "array-bracket-spacing": [ 1, "always" ],
    "block-spacing": [ 1, "always" ],
    "brace-style": [ 1, "1tbs" ],
    "camelcase": [ 1, { "properties": "always" } ],
    "comma-spacing": [ 1, { "before": false, "after": true } ],
    "computed-property-spacing": [ 1, "always" ],
    "eol-last": 2,
    "no-trailing-spaces": 1,
    "no-multiple-empty-lines": [ 1, { "max": 2 } ],
    "indent": [ 2, 2 ],
    "key-spacing": 1,
    "linebreak-style": 2,
    "max-nested-callbacks": [ 2, 3 ],
    "object-curly-spacing": [ 1, "always" ],
    "semi-spacing": 1,
    "semi": [ 2, "always" ],
    "space-after-keywords": [ 2, "always" ],
    "space-before-blocks": [ 1, "always" ],
    "space-before-function-paren": [ 1, "always" ],
    "arrow-spacing": [ 1, { "before": true, "after": true } ],
    "no-const-assign": 2,
    "no-this-before-super": 2,
    "no-var": 1,
    "prefer-template": 2,
    "prefer-spread": 1,
    "prefer-const": 1,
    "prefer-arrow-callback": 1,
    "object-shorthand": [ 2, "always" ]
  }
}
